.app {
    height: 100vh;
    display: flex;
    color: var(--white-color);
}
.main {
    width: 75%;
    display: flex;
    flex-direction: column;
}
.top {
    position: relative;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.timer {
    position: absolute;
    top: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: var(--blue1-color);
    border: 5px solid var(--white-color);
    font-size: 2rem;
    font-weight: 700;
    color: var(--white-color);
}
.bottom {
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pyramid {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;  
    background: var(--blue1-color);
}
.moneyList {
    width: 100%;
    padding: 1.2rem;
}
.moneyListItem {
    display: flex;
    align-items: center;
    padding: .3rem;
    border-radius: .3rem;
}
.moneyListItem.active {
    background: var(--blue-color);
}
.moneyListItemNumber {
    width: 30%;
}
.moneyListItemAmount, .moneyListItemNumber {
    font-size: 1.2rem;
    font-weight: 300;
}


/*==========Media Query small screens==========*/
@media (max-width: 1024px) {
    .main {
        width: 65%;
    }
    .timer {
        top: 10rem;
    }
    .pyramid {
        width: 35%;
    }
    .moneyListItemNumber {
        width: 40%;
    }
    .moneyListItemAmount, .moneyListItemNumber {
        font-size: 1rem;
    }

}


/*==========Media Query small screens mobile==========*/
@media (max-width: 768px) {
    .main {
        width: 55%;
    }
    .top {
        height: 45%;
    }
    .pyramid {
        width: 45%;
    }
    .moneyListItemNumber {
        width: 20%;
    }
    .moneyListItemAmount, .moneyListItemNumber {
        font-size: .7rem;
    }

}