/*==========Base==========*/
html {
  scroll-behavior: smooth;
}
body {
  color: var(--dark-color);
  background: var(--bg-color);
}
::-webkit-scrollbar {
  width: .5rem;
}
::-webkit-scrollbar-track {
  background: var(--bg-color);
}
::-webkit-scrollbar-thumb {
  background: var(--red-color);
}
.section {
  padding: 3rem 0;
}
.container {
  padding: 0 2rem 0 4rem;
  margin: 0 auto;
}
h1, h2, h3, h4 {
  font-size: 1.2rem;
  font-weight: 500;
}
p, a, span, small {
  font-size: 1rem;
  font-weight: 300;
}


/*==========Media Query==========*/
@media (max-width: 1024px) {
  html {
      scroll-padding-top: 4.5rem;
  }
  .section {
      padding: 1rem 0;
  }
  .container {
      padding: 0 .2rem;
      margin: 0 auto;
  }
  h1, h2, h3, h4 {
      font-size: 1.1rem;
  }
  p, a, span, small {
      font-size: .9rem;
  }
  
}
