.app {
    height: 100vh;
    display: flex;
    color: var(--white-color);
}
.main {
    width: 75%;
    display: flex;
    flex-direction: column;
}
.top {
    height: 50%;
}
.timer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: var(--white-color);
    border: 5px solid var(--red-color);
    font-size: 2rem;
    font-weight: 700;
    color: var(--red-color);
}
.bottom {
    height: 50%;
}
.pyramid {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
background: var(--bg-color);    
}
.moneyList {
    width: 100%;
    padding: 1.2rem;
}
.moneyListItem {
    display: flex;
    align-items: center;
    padding: .3rem;
    border-radius: .3rem;
}
.moneyListItem.active {
    background: var(--blue-color);
}
.moneyListItemNumber {
    width: 30%;
}
.moneyListItemAmount, .moneyListItemNumber {
    font-size: 1.2rem;
    font-weight: 300;
}