/*==========Google Fonts==========*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*==========Reset==========*/
*, *::before, *::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

/*==========Root==========*/
:root {

  --red-color: hsl(349, 98%, 58%);
  --blue-color: hsl(211, 87%, 15%);
  --blue1-color: hsla(211, 87%, 15%, 0.541);
  --dark-color: hsl(0, 0%, 13%);
  --white-color: hsl(0, 0%, 100%);
  --bg-color: linear-gradient(to bottom, hsl(211, 98%, 19%), hsl(206, 100%, 21%));
  --green-color: hsl(157, 56%, 32%); 

}

body {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.192) 40%, hsl(206, 100%, 21%)), url('./assets/bg.jpg');
  filter: brightness(1.5) contrast(1.4);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
